* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../images/visualize.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #f6ebeb; /* Setting font color */
}

.container {
    text-align: center;
    margin-top: 3px;
    padding: 10px;

}

.sort-buttons-container label {
    margin: 5px;
}

.sort-buttons-container label:not(:last-child)::after {
  
    margin-left: 5px; /* Adjust the spacing between the bullet and the label */
    color: white; /* Color of the bullet */
}


.sort-buttons-container .btn {
    margin: 5px;
    transition: all 0.3s ease;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ca5f41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c02a09;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
    color: #f6ebeb;
}
.visualizer {
   
    display: inline-block;
    position: relative;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrolling */
    white-space: nowrap; /* Prevent wrapping of child elements */
    max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
}


#array {
    height: 500px;
    background-color: white;
    width: 2000px; /* Set a fixed width */
    position: relative;
    margin-top: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    white-space: nowrap; /*Prevent wrapping of child elements */
    max-width: 100%;
    display: flex;
    overflow-y: hidden;
}

.visualizer::-webkit-scrollbar {
    width: thin;
}

.visualizer-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Allow the container to expand */

}
.array-container {
    display: flex; /* Use flexbox */
    flex-wrap: nowrap;
}



.block {
    width: 28px;
    background-color: #6b5b95;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
    margin: 0 2px;
    margin-right: 2px;
}

.block_id {
    position: absolute;
    color: black;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif; /* Setting font family */
    font-size: 14px; /* Adjusting font size */
    font-weight: bold; /* Making font bold */
}

.user-input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-input label {
    margin-right: 10px;
    font-size: 16px;
    color: #efe9e9;
}

.user-input input[type="number"] {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60px;
}

.user-input .btn-generate {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ca5f41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.user-input .btn-generate:hover {
    background-color: #c02a09;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-input .btn-restart {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ca5f41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.user-input .btn-restart:hover {
    background-color: #c02a09;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.spacing {
    margin-bottom: 20px;
}

.btn-compare {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ca5f41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-compare:hover {
    background-color: #c02a09;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.complexity-table {

margin-top: 50px;
text-align: center;
}

.complexity-table h2 {
color: #f6ebeb;
font-size: 24px;
}

.complexity-table table {
width: 80%;
margin: 0 auto;
border-collapse: collapse;
border: 2px solid #ccc;
}

.complexity-table th, .complexity-table td {
padding: 10px;
border: 1px solid #ccc;
}

.complexity-table th {
background-color: #e44c15;
color: white;
}
.navbar {
width: 85%;
margin: auto;
padding: 35px 0;
display: flex;
align-items: center;
justify-content: space-between;
}

.logo {
width: 120px;
cursor: pointer;
}

.navbar ul li {
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}

.navbar a {
text-decoration: none;
color: white;
text-transform: uppercase;
cursor: pointer;
}

.navbar ul li::after {
content: '';
height: 3px;
width: 0;
background: wheat;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
}

.navbar ul li:hover::after {
width: 100%;
}

.block {
    background-color: #6b5b95;
}
.block.sorted {
    background-color: #13CE66;
}
.block.active {
    background-color: #FF4949;
}
.block.pivoting {
    background-color: #FF9F40;
}
.block.comparing {
    background-color: #3498db;
}
.block.min {
    background-color: #f39c12;
}