*{
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;  
    
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(images/bigOnotation.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: wheat;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.bigOcontent{
    width:90%;
    color:#fff;
    position: absolute;
    top: 30%;
    left:5%;
    animation: fadeIn 2s ease;
    text-align: center;

}

.bigOcontent h1{
    font-size: 70px;
    margin-top: 80px;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/*content*/
.actualcontent{
    width:80%;
    margin:auto;
    padding: 60px 0;

}

.leftcontent{
    flex-basis: 65%;
}

.leftcontent img{
    width: 50%;

}

.leftcontent h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;

}
.leftcontent img{
    width: 50%;
}


.leftcontent p{
    color: #030303;
    padding: 0;
    line-height: 1.4;
    font-style: italic;

}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f2f2f2;
}

.after-table {
    display: block;
    margin: 20px auto; /* Adjust margin as needed */
    max-width: 100%; /* Ensure image doesn't exceed parent container */
}

.leftcontent{
    flex-basis: 65%;
}

.defcontainer {
    max-width: 80%;
    
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px 6px rgba(0, 0, 0, 0.1);
}

.defcontainer h2 {
    color: #333;
    margin-bottom: 10px;
    font-style: italic;
}

.defcontainer p {
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
}

.definition {
    margin-bottom: 30px;
}

h2{
    font-style: italic;
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}